{% extends 'layout.html.twig' %}

{% block tabs %}
    <ul class="nav nav-pills pull-right" role="tablist">
        {% for iterator,tab in data_container.contents %}
            <li role="presentation"{% if(iterator==0) %} class="active"{% endif %}>
                <a href="#tab{{ iterator }}" aria-controls="tab{{ iterator }}" role="tab"
                   data-toggle="tab">{{ tab.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body %}
    <div class="tab-content">
        {% for iterator,tab in data_container.contents %}
            <div role="tabpanel" class="tab-pane{% if(iterator==0) %} active{% endif %}" id="tab{{ iterator }}">
                {% for section in tab.sections %}
                    <div class="page-header">
                        <h1>{{ section.title }}</h1>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            {% for field in section.fields %}
                                <th>{{ field.title }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if section.data|length > 0 %}
                            {% for row in section.data %}
                                <tr>
                                    {% for item in row %}
                                        <td>{{ item|raw }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="{{ section.fields|length }}">No data provided</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
