<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Content tabs{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap.min.css'
        '@AppBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
        'bundles/app/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            {% block tabs %}{% endblock %}
        </nav>
        <h3 class="text-muted">Content tabs</h3>
    </div>
    {% block body %}{% endblock %}
    <footer class="footer">
        <p>Created by: Krzysztof Rudowski</p>
    </footer>
</div>

{% javascripts
'@AppBundle/Resources/public/vendor/jquery/dist/jquery.min.js'
'@AppBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
